@model IEnumerable<InterfacesInventario.Productos.Respuestas.ProductoRegistrado>

@{
    ViewBag.Title = "Mi Primera Pagina";
}

<h2>Nueva Pagina</h2>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Nombre
                </td>
                <td>
                    @item.Precio
                </td>
            </tr>
        }
    </tbody>
</table>